@import "colors";
@import "compass/css3/inline-block";

header {
  background: $dark-background-color;
  padding: 12px 20px;
  height: 46px;

  .logo-shadow path, .logo-shadow polygon {
    fill: #2E2E2D;
  }

  .left, .right {
    @include inline-block(top);
    width: 50%;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
    padding-top: 2px;

    a {
      color: $muted-color;
      text-transform: uppercase;
      font-size: .7em;
      font-weight: bold;
      &:hover {
        color: $primary-color;
      }
    }
  }
}